.container {
    display: flex;
    height: 20%;
    width: 75vw;
    background: darkred;
    margin-bottom: 160px;
}

.textarea {
    font-size: 21px;
    background: #242424;
    border: none;
    width: 75vw;
    min-height: 55vh;
    height: 25%;
    resize: none;
    color: white;
    opacity: 100%;
}

.textarea:empty::before {
    content: 'Just start writing...';
    opacity: 60%;
}

div:focus {
    outline: none;
}