.textarea {
    font-size: 21px;
    background: #242424;
    border: none;
    width: 75vw;
    height: 75vh;
    resize: none;
}

.textarea:empty::before {
    content: 'Just start writing...';
}

div:focus {
    outline: none;
}