.fullscreen {
    position: absolute;
    right: 2rem;
    top: 40px;
    width: 15px;
    height: 15px;
    border: white 2px solid;
    border-radius: 5px;
    opacity: 60%;
    cursor: pointer;
}

.fullscreen:hover {
    opacity: 80%;
}

.fullscreen:active {
    opacity: 60%;
}