.fullscreen {
    width: 15px;
    height: 15px;
    border: white 2px solid;
    border-radius: 5px;
    cursor: pointer;
    opacity: 60%;
}

.fullscreen:hover {
    opacity: 80%;
}

.fullscreen:active {
    opacity: 60%;
}