.save {
    position: absolute;
    right: 75px;
    top: 40px;
    width: 15px;
    height: 15px;
    border: white 2px solid;
    cursor: pointer;
    opacity: 60%;
    border-top-right-radius: 10px;
}

.save:hover {
    opacity: 80%;
}

.save:active {
    opacity: 60%;
}
