#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    font-weight: 400;
    color-scheme: dark;
    position: relative;
    margin: 0 auto;
    padding: 2rem;
}

* {
    /*box-shadow: 0 0 0 1px red;*/
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
}

.areaContainer {
    width: 100%;
    margin-top: 70px;
}
