#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255);
    position: relative;
    margin: 0 auto;
    padding: 2rem;
}

* {
    /*box-shadow: 0 0 0 1px red;*/
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #242424;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.6);
}

body::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    border: 5px solid rgba(255, 255, 255, 0.7);
}

body::-webkit-scrollbar-thumb:active {
    border: 5px solid rgba(255, 255, 255, 0.8);
}

.areaContainer {
    width: 100%;
    margin-top: 70px;
}